<style>
    .rst-udm {
        width: 750px;
        padding: 15px;
        border-radius: 0;
        border: 0;
    }
</style>
<img src="imgs/001.png">
<img src="imgs/002.png">
<div class="rst-search-box">
    <div class="clearfix">
        <div class="rst-lable3 top7">{{'连锁品牌' | translateColumn : 'Store Chain' : $root.language}}:</div>
        <div class="rst-text3 pl20">
            <span class="btn-group uib-dd-box" ng-click="$event.stopPropagation();">
                <input class="form-control" type="text" ng-change="cclCls.getCcl();cclCls.loading = true;"
                    ng-focus="uibDdDbtnClick($event)" ng-model="cclCls.kw"
                    placeholder="{{'搜索品牌名' | translateColumn : 'Search brand name' : $root.language}}">
                <span class="rst-ipt-clear" ng-show="cclCls.kw"
                    ng-click="cclCls.kw = '';cclCls.curCclArr = []">&times;</span>
                <ul class="dropdown-menu" ng-show="cclCls.kw && !cclCls.loading">
                    <li class="rst-sitem" ng-repeat="ccl in cclCls.curCclArr">
                        <a ng-click="cclCls.selectCcl(ccl)">
                            <div class="ellipsis1">
                                {{ccl.lgl_biz_name | translateColumn : ccl.lgl_biz_name_eng : $root.language}}
                            </div>
                            <div class="ellipsis1"><small>{{ccl.lgl_sku}}</small></div>
                        </a>
                    </li>
                    <li class="rst-sitem" ng-show="!cclCls.curCclArr.length && !cclCls.loading && cclCls.kw">
                        <a>{{'无匹配结果' | translateColumn : 'No matched result' : $root.language}}</a>
                    </li>
                </ul>
                <div class="rst-ipt-btns">
                    <button class="btn btn-default" ng-show="cclCls.rslFilterSku.length"
                        ng-click="cclCls.addRslFilterSku()">
                        {{('加入图层已选 ' + cclCls.rslFilterSku.length + ' 个品牌') | translateColumn : ('Add ' + cclCls.rslFilterSku.length + ' Store Chain from layer') : $root.language}}
                    </button>
                </div>
            </span>
        </div>
    </div>
</div>